<!DOCTYPE html>
<html>
<head>
	<title>Capture Capsule</title>
	<link rel="stylesheet" type="text/css" href="/css/CaptureCapsule.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<body>
	<div class="container-fluid logo centered">
		<img id="logo_picture_two" src="/Logo2.png">
		<img id="logo_picture" src="/Logo.png">
	</div>

	<div class = "jumbotron">
		<p id="description">
		Welcome to CaptureCapsule, an online image time capsule. Just upload your image, specify what time you want to be able to retrieve it,
		and we'll email you a key when you're ready.
		</p>

	</div>

	<div class="input centered">
		<input id="file_input" type="file" name="uploads[]" multiple="multiple">
		<input id="email_input" type="email" placeholder="Email">
		<input id="date_input" type="date">
		<input class="btn btn-default" id="upload_input" type="submit" value="Submit">
	</div>	

	<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
	<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script> -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<script src="/js/CaptureCapsule.js"></script>
</body>
</html>