.logo {
	margin: 0;
	padding: 0;
	height: 100px;
	background-color: #ACD1E9;
	font-family: Raleway;
}

.centered {
	text-align: center;
}

#logo_picture {
	width: auto;
	height: inherit;
}

#logo_picture_two {
	width: auto;
	height: inherit;
}

#description {
	font-size: 200%;
	color: #6C7A89;
	margin: auto 250px;
	text-align: center;
}

#upload_input {
	background-color: #3495db;
	color: white;
}

#find_capture_capsule {
	margin-top: 50px;
	margin-bottom: 10px;
	font-size: 200%;
	display: flex;
  	align-items: center;
  	justify-content: center;
}

#find_button {
	background-color: #3495db;
	color: white;
}

#key {
	width: 30%;
	height: 30%;
}